<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/app_1/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/app_1/css/main.css">
</head>
<body>
	<div class="header">
		<div class='headerfont'>我的首页</div>
	</div>

	<ul class="cls1">
		<li><a href="/app_1/spend/our?page=1/">
			<div>消费管理</div>
		</a></li>

		<li><a href="/app_2">
			<div>个人消费管理</div>
		</a></li>

		<li><a href="/app_2">
			<div>个人资产管理</div>
		</a></li>
	</ul>
</body>
</html>